In [5]:
import pandas as pd
df = pd.read_parquet('initial_data_preview.parquet')

df.head()

,event_timestamp,driver_id,conv_rate,acc_rate,created,day,miles_driven,daily_miles_driven
0,2022-02-27 15:00:00+00:00,1005,0.142214,0.408987,2022-03-14 15:21:25.842,2022-02-27,24.817618,150.587752
1,2022-02-27 16:00:00+00:00,1005,0.349267,0.734021,2022-03-14 15:21:25.842,2022-02-27,8.293352,150.587752
2,2022-02-27 17:00:00+00:00,1005,0.358805,0.366804,2022-03-14 15:21:25.842,2022-02-27,8.316672,150.587752
3,2022-02-27 18:00:00+00:00,1005,0.611828,0.773883,2022-03-14 15:21:25.842,2022-02-27,10.566458,150.587752
4,2022-02-27 19:00:00+00:00,1005,0.156503,0.966413,2022-03-14 15:21:25.842,2022-02-27,15.664332,150.587752

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1807 entries, 0 to 1806
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   event_timestamp     1807 non-null   datetime64[ns, UTC]
 1   driver_id           1807 non-null   int64
 2   conv_rate           1807 non-null   float32
 3   acc_rate            1807 non-null   float32
 4   created             1807 non-null   datetime64[ns]
 5   day                 1807 non-null   object
 6   miles_driven        1807 non-null   float64
 7   daily_miles_driven  1807 non-null   float64
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float32(2), float64(2), int64(1), object(1)
memory usage: 112.9+ KB